/*--------------------
FONT SIZE
--------------------*/

.u-font__xs { font-size:   $font__xs !important; }
.u-font__s  { font-size:   $font__s !important; }
.u-font__m  { font-size:   $font__m !important; }
.u-font__l  { font-size:   $font__l !important; }
.u-font__xl { font-size:   $font__xl !important; }

/*--------------------
FONT WEIGHT
--------------------*/

.u-font__light    { font-weight:   $font__light; }
.u-font__regular  { font-weight:   $font__regular; }
.u-font__bold     { font-weight:   $font__bold; }
