/*--------------------
FONT SIZE
--------------------*/

$font__xs:  12px;
$font__s:   15px;
$font__m:  	18px;
$font__l:  	24px;
$font__xl:  42px;

/*--------------------
FONT WEIGHT
--------------------*/

$font__light:    300;
$font__regular:  600;
$font__bold:     700;
