/*--------------------
CUSTOM BOX SHADOW
--------------------*/

@mixin box-shadow($shadow: 'normal') {
    @if $shadow == 'large' {
        box-shadow:0 30px 60px rgba(162,172,204,0.15);
      } @else {
      box-shadow:0 2px 4px rgba(162,172,204,0.15);
  }
}

/*--------------------
CUSTOM BORDER RADIUS
--------------------*/

@mixin border-radius($radius: 'normal') {
    @if $radius =="large" {
  	  border-radius: 8px;
    } @else {
      border-radius: 4px;
    }
}
