/* @font-face {
font-family: 'Sofia Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Sofia Pro Bold'), url('Sofia Pro Bold.otf') format('otf');
}

@font-face {
font-family: 'Sofia Pro Light';
font-style: normal;
font-weight: normal;
src: local('Sofia Pro Bold'), url('Sofia Pro Bold.otf') format('otf');
} */
